.myguten-block-block2 {
  background: green;
  border: 0.2rem solid black;
  color: black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

/*icons-block start*/
/*controls*/
.icons-block__select {
  float: left;
  width: calc(100% - 40px);
}

.icons-block__remove-item {
  float: left;
  margin-left: 10px;
  margin-top: 22px;
  padding: 5px 5px 4px;
}
/*editor*/
.wp-block-myguten-block-icons-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}
.post-desc__advant-item {
  min-width: 262px;
  max-width: 350px;
  width: 33%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #525252;
  display: flex;
  align-items: center;
  min-height: 120px;
  margin-bottom: 15px;
}
.post-desc__svg {
  height: 50px;
  padding: 0 15px;
  color: #872d2d;
  min-width: 68px;
  max-width: 68px;
}
.post-desc__advant-span {
  padding-right: 15px;
}
/*icons-block end*/
/*paragraph-block start*/
/*editor*/
.post-desc__p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #525252;
}
/*paragraph-block end*/
/*list-block start*/
.items-list li {
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  color: #525252;
  font-size: 14px;
  list-style-type: disc !important;
}
/*list-block end*/
/*accordion-block-start*/
.accordion__title {
  position: relative;
  font-size: 22px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-weight: 600;
}
/*accordion-block-end*/
/*callback-form-block start*/
.callback-form-editor {
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*callback-form-block end*/
/*youtube-block start*/
.yt-block-del {
  margin-bottom: 24px;
}
.splide__track ul.splide__list {
  list-style-type: none;
}
.lazy-video.splide__slide:first-child {
  margin-bottom: 5px;
}
.lazy-video.splide__slide:not(:first-child) {
  width: 25%;
  height: auto;
  display: inline-block;
}
.lazy-video__button {
  display: block;
}
.copy--slider {
  display: none;
}
/*youtube-block end*/
/*icons-block start*/
.wp-block-amm-custom-block-icons-block {
  display: flex;
  flex-wrap: wrap;
}
.wp-block-amm-custom-block-icons-block .post-desc__advant-item {
  flex-direction: column;
}
.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  padding-right: 0;
}
.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  font-weight: 600;
  opacity: 0.9;
  padding: 10px 0;
}
.wp-block-amm-custom-block-icons-block .post-desc__advant-span:last-child {
  font-weight: 400;
  opacity: 1;
  padding: 0;
  max-width: 250px;
  text-align: center;
}
/*icons-block end*/
/*button scroll to form start*/
div[data-type="amm-custom-block/button-scroll-to-form"] .main__button {
  border: none;
  background: #f39c12;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 38px;
  transition: 0.5s;
  cursor: text;
}
div[data-type="amm-custom-block/button-scroll-to-form"]
  .post_inside_button
  button:hover
  span {
  transform: translateY(0);
}
div[data-type="amm-custom-block/button-scroll-to-form"]
  .post_inside_button
  button:before {
  content: none;
}
/*button scroll to form end*/
/*featured post block start*/
.get-posts-block-preview-template {
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.get-posts-block-card-body {
  height: 100px;
  margin-bottom: 15px;
  background-color: #eaecee;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.get-posts-block-post-image {
  width: 100px;
  height: 70px;
  min-height: 100px;
  min-width: 100px;
  background-size: contain;
  background-position: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.get-posts-block-content-body {
  margin: 10px 15px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.get-posts-block-content-container {
  height: 100px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
}

.get-posts-block-content-title {
  padding-bottom: 5px !important;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.get-posts-block-content-excerpt {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.get-posts-block-checkboxes {
  margin-bottom: 16px;
}
/*featured post block end*/
/*how we work start*/
.how-we-work__wrap ol {
  list-style-type: none !important;
}

.how-we-work__item {
  flex: 1 1 200px;
}

.how-we-work__remove-item {
  float: none;
  padding: 5px 5px 4px;
  margin-top: -24px;
  margin-bottom: 5px;
}
/*how we work end*/
