.myguten-block-block2 {
  background: red;
  border: 0.2rem solid black;
  color: white;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

/*paragraph-block start*/
.post-desc__p-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #525252;
}
.post-desc__p-text.font-14px {
  font-size: 14px;
}
.post-desc__p-text.font-16px {
  font-size: 16px;
}
.post-desc__p-text.font-18px {
  font-size: 18px;
}
.post-desc__p-text.font-22px {
  font-size: 22px;
}
.post-desc__p-text.font-28px {
  font-size: 28px;
}
/*paragraph-block end*/
/*list-block start*/
.entry-content ul.items-list {
  margin: 0;
}
.entry-content ul.items-list li {
  font-family: "Montserrat", sans-serif;
}
/*list-block end*/

/*split-bg-text start*/
.wp-block-cgb-block-split-bg-text-overlay {
  margin: 25px auto;
  max-width: 100%;
  width: 100%;
  display: table;
  position: relative;
  padding: 0 !important;
}

.wp-block-cgb-block-split-bg-text-overlay .bg-holder {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444;
}

.wp-block-cgb-block-split-bg-text-overlay .left-bg,
.wp-block-cgb-block-split-bg-text-overlay .right-bg {
  width: 50%;
  background-size: cover;
  background-position: center;
}

.wp-block-cgb-block-split-bg-text-overlay .overlay {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 1.2em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.wp-block-cgb-block-split-bg-text-overlay p {
  font-size: inherit;
}

.wp-block-cgb-block-split-bg-text-overlay p:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}
.wp-block-cgb-block-split-bg-text-overlay p:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

.wp-block-cgb-block-split-bg-text-overlay.overlay-left .overlay {
  padding: 5% 35% 5% 5%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay.overlay-left .overlay {
    padding: 5% 55% 5% 5%;
  }
}

.wp-block-cgb-block-split-bg-text-overlay .left-bg {
  width: 70%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay {
    width: 50%;
  }
}

.wp-block-cgb-block-split-bg-text-overlay .right-bg {
  width: 30%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay {
    width: 50%;
  }
}

.wp-block-cgb-block-split-bg-text-overlay.overlay-right .overlay {
  padding: 5% 5% 5% 35%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay {
    padding: 5% 5% 5% 55%;
  }
}

.wp-block-cgb-block-split-bg-text-overlay .right-bg {
  width: 70%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay {
    width: 50%;
  }
}
.wp-block-cgb-block-split-bg-text-overlay .left-bg {
  width: 30%;
}

@media screen and (min-width: 600px) {
  .wp-block-cgb-block-split-bg-text-overlay {
    width: 50%;
  }
}

.wp-block-cgb-block-split-bg-text-overlay.overlay-center .overlay,
.wp-block-cgb-block-split-bg-text-overlay.overlay-undefined .overlay {
  padding: 5%;
}

.wp-block-cgb-block-split-bg-text-overlay .left-bg,
.wp-block-cgb-block-split-bg-text-overlay .right-bg {
  width: 50%;
}

/*split-bg-text end*/

.message-body {
  display: inline-block;
}
.editor-rich-text {
  display: inline-block;
}
.wp-block-halina-headline-with-icon {
  display: flex;
  align-items: center;
}
.wp-block-halina-headline-with-icon p {
  margin-bottom: 0;
  min-width: 300px;
}
.editor-rich-text__tinymce {
  padding-left: 20px;
}
.message-body {
  height: 60px;
  display: flex;
  align-items: center;
}
.message-body p {
  font-weight: bold;
  padding-left: 10px;
  margin-top: 0;
}
.message-body-blue {
  height: 60px;
  display: flex;
  align-items: center;
}
.message-body-blue p {
  font-weight: bold;
  padding-left: 10px;
  margin-top: 0;
  font-size: 18px;
  color: #50a1ff;
}
.components-radio-control__option {
  display: flex;
  align-items: center;
}
