/* how-we-work start */

.how-we-work__wrap ol {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -25px;
}

.wp-block-amm-custom-block-how-we-work.how-we-work__wrap h2 {
  color: #525252;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 0;
}

.how-we-work__item {
  flex: 1 1 250px;
  margin: 25px;
  flex-direction: column;
  position: relative;
}

.how-we-work__number {
  font-weight: 900;
  font-size: 100px;
  line-height: 100px;
  color: #363636;
  position: absolute;
  opacity: 0.1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.how-we-work__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #872d2d;
  display: flex;
  padding-bottom: 5px;
}

.how-we-work__desc {
  display: flex;
  font-size: 14px;
  color: #525252;
}

@media only screen and (max-width: 700px) {
  .how-we-work__number {
    font-size: 80px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .how-we-work__wrap ol {
    margin: -25px 0;
  }

  .how-we-work__item {
    margin: 25px 0;
  }
}

/* how-we-work end */

/* paragraph-block start */

.post-desc__p-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #525252;
}

.post-desc__p-text.font-14px {
  font-size: 14px;
}

.post-desc__p-text.font-16px {
  font-size: 16px;
}

.post-desc__p-text.font-18px {
  font-size: 18px;
}

.post-desc__p-text.font-22px {
  font-size: 22px;
}

.post-desc__p-text.font-28px {
  font-size: 28px;
}

/* paragraph-block end */

/* list-block start */

.entry-content ul.items-list {
  margin: 0;
}

.entry-content ul.items-list li {
  font-family: "Montserrat", sans-serif;
}

/* list-block end */

/* accordion-block-start */

details {
  border-bottom: 1px solid #f1f5f8;
  cursor: pointer;
}

details[open] .accordion__title::after {
  transform: rotate(270deg) translateY(-50%);
  transform-origin: center top;
}

details:last-child {
  border-bottom: none;
}

summary.accordion__title {
  position: relative;
  font-size: 22px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-weight: 600;
  padding: 15px;
  padding-right: 45px;
  outline: none;
}

.accordion__body {
  padding: 0 15px 10px;
}

summary.accordion__title::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"></path></svg>');
  position: absolute;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s;
}

details[open] summary ~ * {
  animation: sweep 0.3s;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

/* accordion-block-end */

/* heading block start */

h2.post-desc__subtitle {
  margin: 0;
}

.post-desc__subtitle.font-14px {
  font-size: 14px;
}

.post-desc__subtitle.font-16px {
  font-size: 16px;
}

.post-desc__subtitle.font-18px {
  font-size: 18px;
}

.post-desc__subtitle.font-22px {
  font-size: 22px;
}

.post-desc__subtitle.font-28px {
  font-size: 28px;
}

/* heading block end */

/* youtube-block start */

.lazy-video__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
}

.lazy-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.lazy-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  outline: none;
  display: none;
}

.lazy-video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.lazy-video__wrapper:hover .lazy-video__button-shape,
.lazy-video__button:focus .lazy-video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.lazy-video__button:focus {
  background: none;
}

.lazy-video__button-icon {
  fill: #fff;
}

.lazy-video--enabled {
  cursor: pointer;
}

.lazy-video--enabled .lazy-video__button {
  display: block;
  cursor: pointer;
}

.secondary--slider {
  margin-top: 10px;
}

.secondary--slider li {
  box-sizing: content-box;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #f39c12;
  border-radius: 3px;
}

.splide__arrow {
  background: #e0e0e0;
  width: 3em;
  height: 3em;
}

.splide__arrow:focus {
  background-color: #f39c12;
}

/* youtube-block end */

/* icons-block start */
.wp-block-amm-custom-block-icons-block .post-desc__advant-item {
  flex-direction: column;
  margin-bottom: 25px;
}

.wp-block-amm-custom-block-icons-block .post-desc__svg {
  max-width: 78px;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  padding-right: 0;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  font-weight: 600;
  opacity: 0.9;
  padding: 5px 0;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span:last-child {
  font-weight: 400;
  opacity: 1;
  padding: 0;
  max-width: 250px;
  text-align: center;
}

/* icons-block end */

/* button scroll to form start */

.wp-block-amm-custom-block-button-scroll-to-form.custom_post_button {
  text-align: center;
  padding: 50px 0;
}

.post_inside_button button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}

.post_inside_button button:before {
  content: "";
  left: 0;
  top: -100%;
  position: absolute;
  height: 60%;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml,\
<svg class="file-invoice-dollar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">\
<path fill="%23fff" d="M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-153 31V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM64 72c0-4.42 3.58-8 8-8h80c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8V72zm0 80v-16c0-4.42 3.58-8 8-8h80c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8zm144 263.88V440c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-24.29c-11.29-.58-22.27-4.52-31.37-11.35-3.9-2.93-4.1-8.77-.57-12.14l11.75-11.21c2.77-2.64 6.89-2.76 10.13-.73 3.87 2.42 8.26 3.72 12.82 3.72h28.11c6.5 0 11.8-5.92 11.8-13.19 0-5.95-3.61-11.19-8.77-12.73l-45-13.5c-18.59-5.58-31.58-23.42-31.58-43.39 0-24.52 19.05-44.44 42.67-45.07V232c0-4.42 3.58-8 8-8h16c4.42 0 8 3.58 8 8v24.29c11.29.58 22.27 4.51 31.37 11.35 3.9 2.93 4.1 8.77.57 12.14l-11.75 11.21c-2.77 2.64-6.89 2.76-10.13.73-3.87-2.43-8.26-3.72-12.82-3.72h-28.11c-6.5 0-11.8 5.92-11.8 13.19 0 5.95 3.61 11.19 8.77 12.73l45 13.5c18.59 5.58 31.58 23.42 31.58 43.39 0 24.53-19.05 44.44-42.67 45.07z"/>\
</svg>');
}

.post_inside_button button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.post_inside_button button:hover span {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

.post_inside_button button:hover:before {
  top: 50%;
  transform: translateY(-50%);
}

/* button scroll to form end */
