/* how we work block start */

.how-we-work-item {
  border-top: 3px solid #d8d8d8;
  position: relative;
  cursor: grab;
  margin-top: 15px;
  padding: 15px 25px 0 0;
}

.how-we-work-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 15px 0 10px;
  color: #525252;
}

.how-we-work-item__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f39c12;
  position: absolute;
  opacity: 1;
  left: 0;
  top: -12px;
  text-align: center;
}

.how-we-work-item__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #525252;
  font-weight: 400;
}

/* how-we-work old start */
@media only screen and (max-width: 700px) {
  .how-we-work__number {
    font-size: 80px;
    line-height: 80px;
  }
}

/* how we work block end */

/* review block start */
.review--slider {
  margin-bottom: 25px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .review--slider {
    width: 100%;
  }
}

.review-item {
  display: flex;
  margin: 0 72px;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  cursor: grab;
}

.review-item img {
  max-width: 100px;
}

.review-item-text {
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #525252;
}

.review-name {
  display: block;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}

.review-item-text {
  width: 100%;
}

.review-date__link {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.review-date__link a {
  display: block;
  color: #872d2d;
  text-decoration: underline;
}

.review--slider .splide__pagination__page.is-active {
  background: #f39c12;
}

.review--slider .splide__pagination {
  bottom: -24px;
}

.splide__hand {
  display: block;
  text-align: center;
}

.splide__hand img {
  width: 50px;
}

.review--slider .splide__arrow {
  background-color: transparent;
}

.review--slider .splide__arrow svg {
  width: 0.8em;
  height: 0.8em;
  fill: #872d2d;
}

.review--slider .splide__arrow--prev {
  left: calc(50% - 40px);
  transform: translateX(-50%);
}

.review--slider .splide__arrow--next {
  right: calc(50% - 85px);
  transform: translateX(-50%);
}

.review--slider .splide__arrow {
  opacity: 1;
  top: auto;
  bottom: 0;
}

.review--slider .splide__track {
  margin-bottom: 20px;
}

.review--slider .splide__arrow:focus {
  background: none;
}

@media only screen and (max-width: 1000px) {
  .review-item {
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .review-item {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .review-item {
    flex-direction: column;
  }
  .review-item-text {
    padding-left: 0;
    padding-top: 15px;
    text-align: center;
  }
  .review-date__link {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  .review-date__link a {
    margin-right: 25px;
  }
}

/* review block end */

/* paragraph-block start */

.post-desc__p-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #525252;
}

.post-desc__p-text.font-14px {
  font-size: 14px;
}

.post-desc__p-text.font-16px {
  font-size: 16px;
}

.post-desc__p-text.font-18px {
  font-size: 18px;
}

.post-desc__p-text.font-22px {
  font-size: 22px;
}

.post-desc__p-text.font-28px {
  font-size: 28px;
}

/* paragraph-block end */

/* list-block start */

.entry-content ul.items-list {
  margin: 0;
}

.entry-content ul.items-list li {
  font-family: "Montserrat", sans-serif;
}

/* list-block end */

/* accordion-block-start */

details {
  border-bottom: 1px solid #f1f5f8;
  cursor: pointer;
}

details[open] .accordion__title::after {
  transform: rotate(270deg) translateY(-50%);
  transform-origin: center top;
}

details:last-child {
  border-bottom: none;
}

summary.accordion__title {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-weight: 600;
  padding: 15px;
  padding-right: 45px;
  outline: none;
}

.accordion__body {
  padding: 0 15px 10px;
}

summary.accordion__title::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"></path></svg>');
  position: absolute;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s;
}

details[open] summary ~ * {
  animation: sweep 0.3s;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

/* accordion-block-end */

/* heading block start */

h2.post-desc__subtitle {
  margin: 0;
}

.post-desc__subtitle.font-14px {
  font-size: 14px;
}

.post-desc__subtitle.font-16px {
  font-size: 16px;
}

.post-desc__subtitle.font-18px {
  font-size: 18px;
}

.post-desc__subtitle.font-22px {
  font-size: 22px;
}

.post-desc__subtitle.font-28px {
  font-size: 28px;
}

/* heading block end */

/* youtube-block start */
.primary--slider {
  width: 80%;
  margin: 0 auto;
}

.secondary--slider {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .primary--slider {
    width: 100%;
  }

  .secondary--slider {
    width: 100%;
  }
}

.lazy-video__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
}

.lazy-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.lazy-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  outline: none;
  display: none;
}

.lazy-video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.lazy-video__wrapper:hover .lazy-video__button-shape,
.lazy-video__button:focus .lazy-video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.lazy-video__button:focus {
  background: none;
}

.lazy-video__button-icon {
  fill: #fff;
}

.lazy-video--enabled {
  cursor: pointer;
}

.lazy-video--enabled .lazy-video__button {
  display: block;
  cursor: pointer;
}

.secondary--slider {
  margin-top: 10px;
}

.secondary--slider li {
  box-sizing: content-box;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #f39c12;
  border-radius: 3px;
}

.splide--nav > .splide__track > .splide__list > .splide__slide {
  border: 5px solid transparent;
}

.splide__arrow {
  background: #e0e0e0;
  width: 3em;
  height: 3em;
}

.splide__arrow:focus {
  background-color: #f39c12;
}

.secondary--slider .splide__track {
  margin: 0 75px;
}

.secondary--slider .splide__pagination__page.is-active {
  background: #f39c12;
}

.secondary--slider .splide__pagination {
  bottom: -22px;
}

.secondary--slider li:not(.is-active) .lazy-video__wrapper {
  border-radius: 4px;
}

.secondary--slider li:not(.is-active) .lazy-video__wrapper img {
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid transparent;
  }
}

/* youtube-block end */

/* icons-block start */
.wp-block-amm-custom-block-icons-block .post-desc__advant-item {
  flex-direction: column;
  margin-bottom: 25px;
}

.wp-block-amm-custom-block-icons-block .post-desc__svg {
  max-width: 78px;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  padding-right: 0;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span {
  font-weight: 600;
  opacity: 0.9;
  padding: 5px 0;
}

.wp-block-amm-custom-block-icons-block .post-desc__advant-span:last-child {
  font-weight: 400;
  opacity: 1;
  padding: 0;
  max-width: 250px;
  text-align: center;
}

/* icons-block end */

/* button scroll to form start */

.wp-block-amm-custom-block-button-scroll-to-form.custom_post_button {
  text-align: center;
  padding: 50px 0 !important;
}

.post_inside_button button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}

.post_inside_button button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
}
/* button scroll to form end */
